button {
  width: 250px;
  height: 80px;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  font-weight: bold; 
  color: aliceblue;
  border: 2px solid whitesmoke;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
}

button:hover{
  background-color: #005276;
}
.boton-clic{
  background-color: #002ead;
}
.boton-reiniciar{
  background-color: #5a01a7;
}