*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: aliceblue;
}
.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: lato, sans-serif;
}
.logo-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.logo{
    height: 100px;
}
.container{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}